@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.img {
    height: 330px;
}
.ravi-tag{
    height: 60px;
}
.img1 {
    height: 120px;
    margin: 10px;
    width: 250px;
}

.project {
    text-align: center;
    color: #183b56;
}

.project1 {
    text-align: center;
    font-weight: bold;
    color: #616e7c;
}

.ground_allback {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
    height: 100vh;
    background-size: cover;
}

.card-bg {
    border-top-right-radius: 10px;
    padding: 20px;
    background-color: white;
    border-top-left-radius: 10px;
}

.head {
    color: #5752ab;
    font-family: "Bree Serif";
    font-size: 25px;
}

.para {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 14px;
}

.butt1 {
    border-width: 1px;
    border-color: #d7dfe9;
    background-color: #ffffff;
    margin-right: 30px;
    width: 120px;
    height: 38px;
    color: #171f46;
    border-radius: 10px;
}

.butt2 {
    background-color: #5752ab;
    border-width: 0px;
    color: #ffffff;
    width: 120px;
    height: 38px;
    margin-left: 1px;
    border-radius: 10px;
}

.backgroundnews {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    height: 100vh;
    background-size: cover;
}

.paranews {
    color: #7b8794;
}

.headnews {
    font-size: 20px;
}

.paragraph {
    padding: 15px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.buttnews {
    background-color: #323f4b;
    border-radius: 8px;
    width: 150px;
    margin-right: 10px;
    color: white;
    height: 50px;
    margin-top: 10px;
}

.backgroundorder {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.happyordwe {
    background-color: #f6c56e;
    padding: 20px;

}

.headorder {
    font-weight: bold;
    color: #323f4b;
    font-family: "Bree Serif";
}

.paraorder {
    color: #323f4b;
    font-family: "Roboto";
    font-weight: bold;
}

.buttorder {
    border-radius: 5px;
    border-width: 0px;
    height: 35px;
    width: 110px;
    margin-right: 10px;
}

.diwali-top-section {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png");
    height: 30vh;
    background-size: cover;
}

.diwali-top-section-heading {
    color: white;
    font-family: "Caveat";
    font-size: 36px;
    width: 200px;
    padding: 20px;
}

.diwali-bottom-section {
    text-align: center;
    background-color: #e6f6ff;
    padding: 15px;
}

.diwali-card-item {
    text-align: center;
    background-color: white;
    width: 140px;
    border-radius: 9px;
    padding: 16px;
    margin: 15px;
}

.diwali-card-image {
    height: 64px;
    width: 64px;
}

.diwali-card-name {
    color: #616e7c;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
}

.diwali-card-price {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
}

.diwali {
    margin-right: 10px;
}